#block-text.block
  .content
    %h2.title Dashboard for #{@org_name}
    %h3.title Logged in as #{@member.name}
    .inner
      %p.first
        New company/organization wellcome page.
        First page :)))
- content_for :sidebar, render(:partial => 'sidebar')
